<ion-header translucent="true" mode="ios">
  <ion-toolbar>
    <ion-title>Models</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let model of aModels">
      <ion-label [ngStyle]="{'color': onGetColor(model)}" (click)="onChooseModel(model)">
        <h2>{{model.name}}</h2>
        <h5 *ngIf="model.path">{{model.path}}</h5>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>